.list_services ul {
    padding: 0px 10px 0px 18px;
    margin-left: 18px;
    border-left: solid #00a8e8 4px;
}

.mycard {
    margin: 20px;
    border: solid #00a8e8 2px;
    border-radius: 30px;
    padding: 20px;
}

.mycard .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    align-items: center;
    justify-content: center;
}

.row h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photoProject {
    width: 100%;
}

.photoLogo {
    width: 50px;
    background-color: black;
}

h2 {
    display: flex;
    justify-content: center;
}